<div class="container container-m">
    
    <div class="row">
        <div class="col-md-4  img-hidden">
            <img class="img-fluid rounded" alt="Rails logo" src="/assets/jikken.jpg"/>
        </div>
        <div class="col-md-8">
          <h1>Sample Text</h1>
          <p>Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text</p>
        </div>
    </div>
    
    <div class="row">
        <div clas=""></div>
        <div class=""></div>
    </div>
</div>