//避難用のファイル（コピペするときとか）

<section class="container">

<div class="wenibox clearfix float-center row">
    <div class="weni-left col-md-4">
        
    </div>
    <div class="weni-right col-md-4 col-sm-4 col-lg-4">
        
    </div>
</div>

<div class="wenibox2 row">
        
 </div>
 
 </section>
 