
<div class="row">

  <div class="col-md-8 mx-auto">
    <% if @user.memos.any? %>
      <h3>メモ数： (<%= @user.memos.count %>)</h3>
      
      
        <ol class="memos">
          <%= render @memos %>
        </ol>
      
      <%= paginate @memos %>
    <% else %>
    <h3 class="mb-5 mt-5">まだメモは作成されていません</h3>
    <%= link_to "新規メモ",   new_memo_path, {class: "btn btn-primary"}  %>
    <% end %>
  </div>
  
</div>