<div class="row">

  <div class="col-md-8 mx-auto">
    <% if @user.memos.any? %>
      <h3>メモ数： (<%= @user.memos.count %>)</h3>
      
      
        <ol class="memos">
          <%= render @memos %>
        </ol>
      
      <%= paginate @memos %>
    <% end %>
  </div>
  
</div>