<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @user.errors.count %>つの不正な入力が発生しています。
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>