
@import "bootstrap";

/* universal */

.memotitle{
  font-size:30px;
  font-weight:bold;
  margin-right:10px;
}

.user_info h1{
  font-size:30px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 100px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}





section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* ちょっとテスト的にやってみる */


.wenibox{
  width:800px;
  height:800px;
  background-color:red;
  //padding:;
  //margin:auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.weni-left{
  width:300px;
  height:200px;
  background-color:black;
  float:left;
  margin-left:10px;
}
.weni-right{
  width:200px;
  height:100px;
  background-color:blue;
  float:right;
  margin-right:10px;
}

.wenibox2{
  width:200px;
  height:300px;
  background-color:green;
}


/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
margin-top: 30px;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

div.img-hidden {
  height: 300px;
  overflow: hidden;
}

 
 .wenitest{
   color: red;
   font-size:30px;
 }
 
 
 /* チェックボックス用スタイル*/
 
 .checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* memos */

.memos {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title{
    font-size:20px;
    margin-bottom:5px;
    margin-top:3px;
  }
  .title a{
  text-decoration: none;
  transition: color 0.3s;
  }
  .title a:hover{
    color : #FF9966;
  }
  .title a:active{
  color : #FF3300;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
}


/* HOME */
.aboutsv{
  background-image: image-url('homebg3.png');
  height:300px;
  width:100%;
  background-size:cover;
  margin-top:100px;
}

.feature{
  padding:80px 0;
  background-color:#fff;
  color:#333;
}

.feature-wrapper{
  display:table;
  width:80%;
  margin:50px auto 0;
  table-layout:fixed;
}

.feature-box{
  display:table-cell;
}

.feature-icon{
  width:130px;
  height:130px;
  margin-bottom:30px;
  border:4px solid;
  border-radius:50%;
  color:#f1b400;
  font-size:5rem;
  line-height:142px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h3{
  font-size:40px;
  color:#f1b400;
  
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}